html {
    box-sizing: border-box;
}

body {
    background-color: red;
    margin: 0;
}

.wrap {
    width: 1500px;
    overflow-y: scroll;
    position: relative;
}

main {
    background: green;
    width: calc(100vw - 80px);
    height: calc(100vh - 40px);
    margin: 20px auto;
    position: relative;
    /*min-width: 1000px;*/
    max-width: 1400px;
    /*overflow: scroll;*/
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    padding: 5px;
}

.blue {
    max-height: 300px;
    /*max-width: 300px;*/
    height: 100vh;
    width: 300px;
    background: blue;
    float: left;
    border: 1px dashed #8b3951;
    white-space: nowrap;
    position: relative;
    margin-left: 25px;
    clear: bottom;
    overflow-y: auto;
}

.height-50 {
    min-width: 50px;
    min-height: 50px;
    height: 50px;
    margin: 10px 10px;
    background: yellow;
}

.height-100 {
    min-width: 50px;
    min-height: 50px;
    height: 100px;
    margin: 10px 10px;
    background: yellow;
}

.height-150 {
    min-width: 50px;
    min-height: 50px;
    height: 150px;
    margin: 10px 10px;
    background: yellow;
}

.height-400 {
    min-width: 50px;
    min-height: 50px;
    height: 400px;
    margin: 10px 10px;
    background: yellow;
}